@charset "UTF-8";

$red: #db1b0a;
$light_red: #e83428;
$dark_red: #a0131a;
$mid_light_red: #e6001a;
$mid_dark_red: #c9151e;
$guide_gray: #9fa0a0;
$guide_red: #c90915;
$text_black: #595757;
$bg: #fafafa;


/* common */
#xc2020 {
    font-family: 'ヒラギノ角ゴシック', 'Hiragino Sans', 'Noto Sans JP', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    background: $bg;

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    img {
        vertical-align: bottom;
        max-width: 100%;
    }

    table {
        border-collapse: collapse;
    }

    input, textarea, button {
        font-size: inherit;
        -webkit-appearance: none;
        background: none;
        border: 1px solid #ccc;
        box-shadow: none;
    }

    a {
        text-decoration: none;
        transition: all .3s ease;

        &:hover {
            opacity: .7;
        }
    }

    li {
        list-style: none;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .xc_inner {
        width: 1000px;
        margin: 0 auto;
    }

    .xc_inner.w700 {
        width: 700px;
    }

    h2 {
        color: $text_black;
        font-size: 31px;
        letter-spacing: .2em;
        line-height: 1;
        font-family: bodoni-urw, serif;
        font-weight: 500;

        span {
            color: $mid_light_red;
            display: block;
            font-size: 20px;
            margin-bottom: 25px;
            letter-spacing: .1em;
        }
    }

    .pc { display: block; }
    .sp { display: none; }

    .g-header, .g-footer {
        img {
            width: auto;
        }
    }

    h1 {
        margin: 0;
    }

    #mv {
        margin-top: 105px;
    }

    #intro {
        text-align: center;

        .xc_inner {
            background: url(../img/bg_intro.png) no-repeat center / cover;
            color: #fff;
            padding: 70px 0 80px;

            .title {
                font-size: 32px;
                line-height: 1;
                font-family: bodoni-urw, serif;
                font-weight: 500;
                letter-spacing: .1em;
            }

            .catch {
                margin-top: 37px;
                line-height: 1;
                font-size: 20px;
                font-family: 'ten-mincho';
                letter-spacing: .4em;
            }

            .date {
                margin-top: 44px;
                line-height: 1;
                font-size: 20px;
                font-family: bodoni-urw, serif;
                font-weight: 500;
                letter-spacing: .2em;
            }

            .txt {
                margin-top: 67px;
                line-height: 20px;
            }
        }
    }

    #nav {
        padding: 40px 0 0;
        position: relative;
        z-index: 2;

        .xc_inner {
            nav {
                ul {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    width: 760px;
                    margin: 0 auto;

                    li {
                        a {
                            display: flex;
                            align-items: center;
                            color: #fff;
                            font-size: 12px;
                            line-height: 40px;
                            width: 190px;
                            padding-left: 13px;
                            font-family: bodoni-urw, serif;
                            font-weight: 500;
                            letter-spacing: .1em;

                            &::before {
                                content: '';
                                width: 6px;
                                height: 6px;
                                display: block;
                                border-right: 1px solid #fff;
                                border-bottom: 1px solid #fff;
                                transform: rotate(45deg);
                                margin-right: 10px;
                            }
                        }

                        &:nth-child(1) a { background: $light_red; }
                        &:nth-child(2) a { background: $dark_red; }
                        &:nth-child(3) a { background: $mid_dark_red; }
                        &:nth-child(4) a { background: $red; }
                        &:nth-child(5) a { background: $mid_dark_red; }
                        &:nth-child(6) a { background: $mid_light_red; }
                        &:nth-child(7) a { background: $dark_red; letter-spacing: 0; }
                    }
                }
            }
        }
    }

    #kogin {
        padding-top: 154px;

        .xc_inner {
            position: relative;

            .content_kogin {
                position: relative;
                z-index: 2;
            }

            .bg_kogin {
                width: 1000px;
                height: 1333px;
                background: url(../img/bg_kogin.png) no-repeat center / 100%;
                display: block;
                position: absolute;
                top: -228px;
                left: -150px;
            }

            h2 {
                text-align: right;
            }

            .title_area {
                position: relative;
                height: 492px;

                p {
                    position: absolute;

                    &.img_kogin_1 {
                        top: 0;
                        left: 35px;
                    }

                    &.img_kogin_2 {
                        bottom: 0;
                        left: 335px;
                    }

                    &.notice {
                        position: absolute;
                        bottom: 48px;
                        left: 25px;
                        font-size: 10px;
                        color: #fff;
                        line-height: 1;
                    }
                }
            }

            .slide_area {
                margin: 25px auto 0;
                width: 650px;
                position: relative;
                box-shadow: 0 7px 18px rgba(93, 94, 94, .38);

                .slides {

                    .slide {
                        width: 650px;
                        background: $mid_light_red;
                        position: relative;
                        display: flex;
                        align-items: center;
                        color: #fff;

                        .title {
                            background: $mid_light_red;
                            font-size: 12px;
                            line-height: 20px;
                            color: #fff;
                            position: absolute;
                            top: 15px;
                            left: 0;
                            padding: 0 10px;
                        }

                        .txt {
                            font-size: 15px;
                            line-height: 2;
                            padding: 0 25px;
                            text-align: justify;
                        }
                    }
                }
            }

            .detail {
                margin-top: 30px;

                .row {
                    justify-content: space-between;

                    .img {
                        .img_kogin_4 {
                            margin-top: -20px;

                        }

                        .notice {
                            color: $text_black;
                            font-size: 10px;
                            line-height: 1;
                            margin-left: 40px;
                        }
                    }

                    .txt {
                        width: 350px;
                        padding-top: 60px;

                        .title {
                            font-family: 'ten-mincho';
                            color: $text_black;

                            .profession {
                                color: $mid_light_red;
                                font-size: 14px;
                                line-height: 1;
                            }

                            .name {
                                font-size: 28px;
                                display: flex;
                                align-items: center;
                                margin-top: 15px;
                                line-height: 1;

                                span {
                                    font-size: 12px;
                                    margin-left: 19px;
                                }
                            }

                            .main {
                                font-size: 24px;
                                margin-top: 17px;
                                line-height: 1;
                            }

                            .position {
                                font-size: 12px;
                                margin-top: 17px;
                                line-height: 18px;
                            }
                        }

                        .desc {
                            margin-top: 35px;
                            color: $text_black;
                            text-align: justify;
                        }
                    }

                    &.about {
                        margin-top: 20px;

                        .txt {
                            padding-left: 50px;

                            .title {
                                .sub {
                                    color: $mid_light_red;
                                }
                            }
                        }

                        .img {
                            .img_kogin_6 {
                                margin: -45px 0 0 -45px;
                            }
                        }
                    }
                }
            }
        }
    }

    #insta {
        padding-top: 120px;

        .xc_inner {
            position: relative;

            .bg_insta {
                width: 1000px;
                height: 1333px;
                background: url(../img/bg_insta.png) no-repeat center / 100%;
                display: block;
                position: absolute;
                top: -310px;
                left: -150px;
            }

            .content_insta {
                position: relative;

                .title_area {
                    margin-top: 40px;
                    justify-content: space-between;

                    .img {
                        margin-left: -20px;
                    }

                    .txt {
                        color: #fff;
                        width: 405px;
                        margin: 185px -50px 0 0;
                        font-weight: 500;

                        .title {
                            font-family: bodoni-urw, serif;
                            font-size: 21px;
                            margin-bottom: 15px;
                            line-height: 1;
                            letter-spacing: .2em;
                        }
                    }
                }

                .howto {
                    margin-top: 50px;

                    h3 {
                        color: $mid_light_red;
                        font-weight: 600;
                        letter-spacing: .2em;
                        margin-bottom: 28px;
                        padding: 0 25px;
                    }

                    ol {
                        padding: 0 25px;

                        li {
                            position: relative;

                            &::before {
                                content: '';
                                width: 164px;
                                height: 164px;
                                box-shadow: 0 7px 18px rgba(93, 94, 94, .38);
                                display: block;
                                border-radius: 50%;
                                position: absolute;
                                right: 0;
                                top: 50%;
                                transform: translateY(-50%);
                            }

                            &:not(:last-child) {
                                margin-bottom: 75px;

                                &::after {
                                    content: '';
                                    width: 67px;
                                    height: 49px;
                                    background: url(../img/arw_red_bottom.png) no-repeat center / contain;
                                    display: block;
                                    position: absolute;
                                    top: calc(100% + 20px);
                                    left: 130px;
                                }
                            }

                            .txt {
                                background: #fff;
                                border: 1px solid $mid_light_red;
                                padding: 20px 15px;
                                width: 568px;
                                height: 100px;
                                display: flex;
                                align-items: center;
                                color: $mid_light_red;
                                box-shadow: 0 7px 18px rgba(93, 94, 94, .38);
                                position: relative;

                                .num {
                                    font-size: 60px;
                                    font-family: bodoni-urw, serif;
                                    font-weight: 500;
                                    margin-right: 24px;
                                }

                                .desc {
                                    span {
                                        display: flex;
                                        font-size: 10px;
                                    }
                                }
                            }

                            .img {
                                position: absolute;
                                right: 0;
                                top: 50%;
                                transform: translateY(-50%);
                            }
                        }
                    }
                }

                .terms {
                    margin-top: 90px;
                    padding: 0 25px;
                    z-index: 2;
                    position: relative;

                    h3 {
                        color: $mid_light_red;
                        margin-bottom: 20px;
                        letter-spacing: .2em;
                    }

                    .terms_area {
                        width: 650px;
                        border: 1px solid $mid_light_red;
                        padding: 45px 40px;
                        color: $text_black;
                        font-size: 10px;
                        line-height: 13px;
                        height: 250px;
                        overflow-y: scroll;
                        box-shadow: 0 7px 18px rgba(93, 94, 94, .38);
                        background: #fff;
                    }
                }

                .contact {
                    margin-top: 58px;
                    padding: 0 25px;
                    display: flex;

                    h3 {
                        color: $mid_light_red;
                        letter-spacing: .2em;
                        margin-right: 35px;
                    }

                    .txt {
                        width: 357px;
                        color: $text_black;

                        .notice {
                            margin-top: 5px;
                            font-size: 10px;
                            line-height: 14px;
                        }
                    }
                }
            }
        }
    }

    #card {
        padding-top: 60px;

        .xc_inner {
            position: relative;

            .bg_card {
                width: 838px;
                height: 2671px;
                display: block;
                background: url(../img/bg_gray_right.png) no-repeat right top;
                position: absolute;
                top: -700px;
                right: -150px;
            }

            .content_card {
                position: relative;

                .title_area {
                    text-align: right;
                    display: flex;
                    justify-content: space-between;

                    .img {
                        margin-left: -120px;
                    }

                    .txt {
                        padding-top: 150px;

                        p {
                            color: $text_black;
                            font-family: 'ten-mincho';
                            font-size: 20px;
                            margin-top: 20px;
                            line-height: 1;
                        }
                    }
                }

                .points {
                    margin-top: -70px;

                    ul {
                        padding: 0 15px;

                        li {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            border-bottom: 1px solid $mid_light_red;

                            .num {
                                background: url(../img/bg_card_num.png) no-repeat center / contain;
                                width: 81px;
                                height: 98px;
                                color: #fff;
                                text-align: center;
                                line-height: 98px;
                                font-size: 38px;
                                font-family: bodoni-urw, serif;
                                margin-right: 10px;
                                filter: drop-shadow(0 7px 9px rgba(93, 94, 94, .38));
                            }

                            .txt {
                                color: $text_black;
                                line-height: 20px;
                                width: 377px;

                                span {
                                    color: $mid_light_red;
                                }

                                .notice {
                                    margin-top: 20px;
                                    font-size: 10px;
                                }

                                .block {
                                    background: #fff;
                                    border: 1px solid $mid_light_red;
                                    padding: 10px 0;
                                    text-align: center;
                                    font-size: 12px;
                                    color: $mid_light_red;
                                    line-height: 18px;
                                    margin-top: 30px;
                                }
                            }

                            .img {
                                width: 180px;
                                text-align: center;

                                span {
                                    display: block;
                                    font-size: 12px;
                                    line-height: 15px;
                                    color: $text_black;
                                    margin: -10px 0;

                                    &:not(:last-child) {
                                        margin-bottom: 15px;
                                    }
                                }
                            }

                            &:first-child {
                                .img {
                                    padding-bottom: 45px;
                                }
                            }

                            &:nth-child(2) {
                                padding: 30px 0 5px;

                                .txt {
                                    .howto {
                                        margin-top: 20px;
                                    }
                                }
                            }

                            &:nth-child(3) {
                                .txt {
                                    line-height: 22px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #workshop {
        padding: 160px 0 270px;

        .xc_inner {
            position: relative;

            .bg_workshop {
                width: 1000px;
                height: 1333px;
                display: block;
                background: url(../img/bg_workshop.png) no-repeat left top;
                position: absolute;
                top: 0;
                left: -150px;
            }

            .content_workshop {
                position: relative;

                h2 {
                    margin-bottom: 56px;
                }

                .intro {
                    font-size: 16px;
                    line-height: 24px;
                    color: $text_black;
                    margin-bottom: 40px;
                }

                .movie {
                    padding: 0 25px;

                    div {
                        background: #aaa;
                        height: 365px;
                    }
                }

                .download {
                    margin-top: 40px;
                    display: flex;
                    align-items: center;
                    padding: 0 25px;
                    justify-content: space-between;
                    color: #fff;

                    .btn {
                        a {
                            background: #fff;
                            color: #767575;
                            line-height: 50px;
                            text-align: center;
                            display: block;
                            width: 325px;
                            border: 1px solid $text_black;
                            position: relative;

                            &::after {
                                content: '';
                                width: 30px;
                                height: 22px;
                                display: block;
                                background: url(../img/ic_dl.png) no-repeat center / contain;
                                position: absolute;
                                top: 50%;
                                right: 25px;
                                transform: translateY(-50%);
                            }
                        }
                    }
                }
            }
        }
    }

    #kiriko {
        padding-top: 120px;

        .xc_inner {
            position: relative;

            .content_kiriko {
                position: relative;
            }

            h2 {
                text-align: right;
            }

            .txt {
                margin-top: 56px;
                color: $text_black;
                font-size: 16px;
                line-height: 26px;
                text-align: justify;
            }

            .slide_area {
                margin: 80px auto 0;
                width: 450px;
                box-shadow: 0 7px 18px rgba(93, 94, 94, 0.38);

                .slides {

                    .slide {
                        background: $mid_light_red;
                        padding: 60px 75px 35px;
                        width: 450px;

                        .name {
                            color: #fff;
                            display: flex;
                            align-items: center;
                            margin-top: 28px;
                            line-height: 1;

                            span {
                                background: #fff;
                                color: $mid_light_red;
                                line-height: 25px;
                                width: 75px;
                                text-align: center;
                                display: block;
                                margin-right: 16px;
                                font-family: bodoni-urw, serif;
                                font-weight: 500;
                                font-size: 15px;
                            }
                        }
                    }
                }

                .bx-wrapper .bx-controls-direction a {
                    top: 50%;
                }

                .bx-wrapper .bx-prev {
                    background: url(../img/arw_red_left.png) no-repeat center / contain;
                    left: -97px;
                }

                .bx-wrapper .bx-next {
                    background: url(../img/arw_red_right.png) no-repeat center / contain;
                    right: -97px;
                }
            }
        }
    }

    #showcase {
        padding-top: 160px;

        .xc_inner {
            position: relative;

            .bg_showcase {
                width: 838px;
                height: 2671px;
                display: block;
                background: url(../img/bg_gray.png) no-repeat left top;
                position: absolute;
                top: -536px;
                left: -150px;
            }

            .content_showcase {
                position: relative;

                h2 {
                    margin-bottom: 50px;
                }

                .txt {
                    color: $text_black;
                    font-size: 16px;
                    line-height: 24px;
                }

                .slide_area {
                    margin: 50px auto 0;
                    width: 650px;
                    box-shadow: 0 7px 18px rgba(93, 94, 94, 0.38);

                    .slides {
                        .slide {
                            background: $mid_light_red;
                            padding: 30px 30px 80px;
                            width: 650px;

                            ul {
                                display: flex;
                                justify-content: space-between;

                                li {
                                    width: 276px;
                                    text-align: center;
                                    color: #fff;

                                    .name {
                                        margin-top: 20px;
                                        line-height: 25px;
                                        height: 50px;
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                    }
                                }
                            }
                        }
                    }

                    .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
                        bottom: -50px;
                    }

                    .bx-wrapper .bx-controls-direction a {
                        top: auto;
                        bottom: 30px;
                    }

                    .bx-wrapper .bx-prev {
                        background: url(../img/arw_white_left.png) no-repeat center / contain;
                        left: 29px;
                    }

                    .bx-wrapper .bx-next {
                        background: url(../img/arw_white_right.png) no-repeat center / contain;
                        right: 29px;
                    }
                }

                .notice {
                    margin-top: 15px;
                    line-height: 1;
                    padding: 0 25px;
                    text-align: right;
                    font-size: 10px;
                    color: $text_black;
                }
            }
        }
    }

    #kadou {
        padding: 150px 0 110px;

        .xc_inner {
            .content_kadou {
                position: relative;
            }

            h2 {
                font-family: 'ten-mincho';
                font-size: 28px;
                text-align: right;

                span {
                    font-family: bodoni-urw, serif;
                    font-weight: 500;
                }
            }

            .row {
                margin-top: 108px;

                .img {
                    width: 350px;
                    position: relative;

                    p {
                        position: absolute;

                        &.img_kadou_1 {
                            top: -60px;
                            left: -20px;
                        }

                        &.img_kadou_2 {
                            top: 265px;
                            left: -90px;
                        }

                        &.img_kadou_3 {
                            top: 465px;
                            left: 88px;
                        }
                    }
                }

                .txt {
                    width: 350px;

                    .title {
                        font-family: 'ten-mincho';
                        color: $text_black;

                        .profession {
                            color: $mid_light_red;
                            font-size: 14px;
                            line-height: 1;
                        }

                        .name {
                            font-size: 28px;
                            display: flex;
                            align-items: center;
                            margin-top: 15px;
                            line-height: 1;

                            span {
                                font-size: 12px;
                                margin-left: 19px;
                            }
                        }

                        .sub {
                            color: $mid_light_red;
                        }

                        .main {
                            font-size: 24px;
                            margin-top: 17px;
                            line-height: 1;
                        }

                        .position {
                            font-size: 12px;
                            margin-top: 17px;
                            line-height: 18px;
                        }
                    }

                    .desc {
                        margin-top: 35px;
                        color: $text_black;
                        text-align: justify;
                    }
                }

                &.about {

                    .txt {
                        padding-top: 0;

                        .desc {
                            margin-top: 0;
                        }
                    }

                    .img {
                        padding-top: 35px;

                        p {
                            text-align: right;
                            position: static;
                        }
                    }
                }
            }
        }
    }

    .bx-wrapper {
        border: none;
        box-shadow: none;
        background: none;
    }
    .bx-wrapper .bx-pager.bx-default-pager a {
        background: $guide_gray;
        width: 7px;
        height: 7px;
    }

    .bx-wrapper .bx-pager.bx-default-pager .bx-pager-item:not(:last-child) {
        margin-right: 10px;
    }

    .bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
        background: $guide_red;
    }
    .bx-wrapper .bx-controls-direction a {
        width: 78px;
        height: 10px;
        top: 263px;
    }
    .bx-wrapper .bx-prev {
        background: url(../img/arw_white_left.png) no-repeat center / contain;
        left: 338px;
    }
    .bx-wrapper .bx-next {
        background: url(../img/arw_white_right.png) no-repeat center / contain;
        right: 34px;
    }
}



@media (max-width: 1000px) {
    body {
        width: 1000px;
    }
}


@media (max-width: 768px) {

    body {
        width: 100%;
    }

    #xc2020 {
        font-size: 2.6vw;
        line-height: 3.7vw;
        padding-left: 9px;

        .pc { display: none; }
        .sp { display: block; }

        h2 {
            font-size: 4.9vw;

            span {
                font-size: 3.4vw;
                margin-bottom: 3.7vw;
            }
        }

        .xc_inner {
            width: 100%;

            &.w700 {
                width: 100%;
            }
        }

        #mv {
            margin-top: 48px;
        }

        #intro {
            .xc_inner {
                padding: 3.7vw 0;

                .title {
                    font-size: 4.9vw;
                }

                .catch {
                    margin-top: 3.3vw;
                    font-size: 3.6vw;
                }

                .date {
                    margin-top: 4.2vw;
                    font-size: 3.4vw;
                }

                .txt {
                    margin-top: 6.4vw;
                    line-height: 3.6vw;
                }
            }
        }

        #nav {
            padding: 0;

            .xc_inner {
                nav {
                    ul {
                        flex-wrap: wrap;
                        width: 100%;

                        li {
                            width: 50%;

                            a {
                                width: 100%;
                                font-size: 2.8vw;
                                line-height: 3.2vw;
                                height: 12vw;
                                padding-left: 3.3vw;

                                &::before {
                                    width: 1.3vw;
                                    height: 1.3vw;
                                    margin-right: 2.3vw;
                                }
                            }

                            &:nth-child(3) {
                                width: calc(100% / 3);

                                a {
                                    text-align: center;
                                }
                            }

                            &:nth-child(4) {
                                width: calc(100% / 3);

                                a {
                                    text-align: center;
                                }
                            }

                            &:nth-child(5) {
                                width: calc(100% / 3);

                                a {
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }

        #kogin {
            padding-top: 6.4vw;

            .xc_inner {
                padding: 0 6.4vw;

                .bg_kogin {
                    width: 100%;
                    height: 177.7vw;
                    left: 0;
                    top: 4.9vw;
                    background: url(../img/bg_kogin_sp.png) no-repeat center top / 100%;
                }

                .title_area {
                    height: 73vw;

                    p {
                        &.img_kogin_1 {
                            left: 1.6vw;
                            top: 1.3vw;

                            img {
                                width: 47.4vw;
                            }
                        }

                        &.img_kogin_2 {
                            left: 42.8vw;
                            top: 24.5vw;

                            img {
                                width: 35.3vw;
                            }
                        }

                        &.notice {
                            bottom: 14.6vw;
                            left: 0;
                            font-size: 1.6vw;
                        }
                    }
                }

                .slide_area {
                    margin: 0 auto;
                    width: 100%;

                    .slides {
                        .slide {
                            width: 100%;

                            .title {
                                font-size: 1.6vw;
                                line-height: 2.6vw;
                                padding: 0 1.3vw;
                                top: 2.1vw;
                            }

                            img {
                                width: 40vw;
                            }

                            .txt {
                                padding: 0 3.7vw;
                                font-size: 2.6vw;
                                line-height: 1.5;
                            }
                        }
                    }
                }

                .detail {
                    margin-top: 10vw;

                    .row {
                        .img {
                            width: calc(100% - 43.7vw);

                            .img_kogin_3 {
                                img {
                                    width: 44vw;
                                }
                            }

                            .img_kogin_4 {
                                margin: -4.8vw 0 0 -3.3vw;

                                img {
                                    width: 38.9vw;
                                }
                            }

                            .notice {
                                text-align: center;
                                font-size: 1.8vw;
                                line-height: 2.4vw;
                                margin-left: 7vw;
                                display: inline-block;
                            }
                        }

                        .txt {
                            width: 43.7vw;
                            padding-top: 13.3vw;

                            .title {
                                .profession {
                                    font-size: 2.4vw;
                                }

                                .name {
                                    font-size: 4.5vw;
                                    flex-direction: column;
                                    align-items: flex-start;
                                    margin-top: 2.2vw;

                                    span {
                                        margin: 2.2vw 0 0 0;
                                        font-size: 1.8vw;
                                    }
                                }

                                .position {
                                    font-size: 1.8vw;
                                    line-height: 2.4vw;
                                    margin-top: 2.2vw;
                                }
                            }

                            .desc {
                                margin-top: 5.2vw;
                            }
                        }

                        .sp {
                            color: $text_black;
                            margin-top: 5vw;
                            text-align: justify;
                        }

                        &.about {
                            margin-top: 13.3vw;

                            .txt {
                                padding: 0;

                                .title {
                                    .sub {
                                        font-size: 2.2vw;
                                    }

                                    .main {
                                        font-size: 4vw;
                                        margin-top: 2.2vw;
                                    }
                                }

                                .desc {
                                    margin-top: 4.6vw;
                                }
                            }

                            .img {
                                padding-top: 6vw;

                                .img_kogin_5 {
                                    margin-right: -6.4vw;
                                    text-align: right;

                                    img {
                                        width: 39vw;
                                    }
                                }

                                .img_kogin_6 {
                                    margin: -9.3vw 0 0 1.3vw;

                                    img {
                                        width: 32.5vw;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        #insta {
            padding-top: 34.2vw;

            .xc_inner {
                padding: 0 6.4vw;

                .bg_insta {
                    width: 100%;
                    background: url(../img/bg_insta_sp.png) no-repeat center / 100%;
                    left: 0;
                }

                .content_insta {
                    .title_area {
                        margin-top: 4.6vw;

                        .img {
                            margin-left: -5vw;

                            img {
                                width: 37.3vw;
                            }
                        }

                        .txt {
                            margin-top: 23vw;
                            margin-right: 0;
                            width: 46.2vw;

                            .title {
                                font-size: 4vw;
                                margin-bottom: 2.6vw;
                            }
                        }
                    }

                    .howto {
                        margin-top: 13.3vw;

                        h3 {
                            color: #fff;
                            margin-bottom: 2.2vw;
                            padding: 0;
                            font-size: 2.4vw;
                        }

                        ol {
                            padding: 0;

                            li {
                                &:not(:last-child) {
                                    margin-bottom: 9.8vw;

                                    &::after {
                                        width: 8.9vw;
                                        height: 6.5vw;
                                        top: calc(100% + 2.6vw);
                                    }
                                }

                                &::before {
                                    width: 21.8vw;
                                    height: 21.8vw;
                                }

                                .txt {
                                    width: 75.6vw;
                                    height: 13.3vw;
                                    padding: 2.6vw;
                                    font-size: 2.4vw;

                                    .num {
                                        font-size: 8vw;
                                        margin-right: 2vw;
                                    }

                                    .desc {
                                        span {
                                            font-size: 1.8vw;
                                        }
                                    }
                                }

                                .img {
                                    img {
                                        width: 21.8vw;
                                    }
                                }
                            }
                        }
                    }

                    .terms {
                        margin-top: 13.3vw;
                        padding: 0;

                        h3 {
                            margin-bottom: 2.6vw;
                            font-size: 2.4vw;
                        }

                        .terms_area {
                            width: 100%;
                            height: 33.3vw;
                            padding: 6.6vw 5.3vw;
                            font-size: 1.7vw;
                            line-height: 2.1vw;
                        }
                    }

                    .contact {
                        padding: 0;
                        margin-top: 6.6vw;
                        flex-direction: column;

                        h3 {
                            margin-right: 0;
                            margin-bottom: 2.6vw;
                            font-size: 2.4vw;
                        }

                        .txt {
                            width: 100%;
                            font-size: 2.5vw;
                            line-height: 4vw;

                            .notice {
                                font-size: 1.8vw;
                                margin-top: 1.3vw;
                                line-height: 2.9vw;
                            }
                        }
                    }
                }
            }
        }

        #card {
            padding-top: 8vw;

            .xc_inner {
                padding: 0 6.4vw;

                .bg_card {
                    width: 100%;
                    right: 0;
                    background: url(../img/bg_gray_right.png) no-repeat right top / 100%;
                }

                .content_card {
                    .title_area {
                        .img {
                            margin-left: -17.3vw;

                            img {
                                width: 45.6vw;
                            }
                        }

                        .txt {
                            padding-top: 20vw;
                            margin-left: -5vw;

                            h2 {
                                font-size: 4.6vw;
                                letter-spacing: .1em;
                            }

                            p {
                                font-size: 2.6vw;
                                margin-top: 2.6vw;
                            }
                        }
                    }

                    .points {
                        margin-top: -5.3vw;

                        ul {
                            padding: 0;

                            li {
                                .num {
                                    width: 10vw;
                                    height: 11vw;
                                    font-size: 4.8vw;
                                    line-height: 11vw;
                                    margin-right: 1.3vw;
                                }

                                .txt {
                                    width: 56vw;
                                    line-height: 3.2vw;
                                    font-size: 2.4vw;

                                    .notice {
                                        font-size: 1.8vw;
                                        margin-top: 1.3vw;
                                    }

                                    .block {
                                        font-size: 2.3vw;
                                        line-height: 3vw;
                                        margin-top: 4vw;
                                        padding: 1.3 0;
                                    }
                                }

                                .img {
                                    width: 22.6vw;

                                    span {
                                        margin: -1.3vw 0;
                                        font-size: 1.8vw;
                                        line-height: 2.6vw;

                                        &:not(:last-child) {
                                            margin-bottom: 2vw;
                                        }
                                    }
                                }

                                &:first-child {
                                    padding-bottom: 2.4vw;

                                    .img {
                                        padding-bottom: 4vw;
                                    }
                                }

                                &:nth-child(2) {
                                    padding: 6.6vw 0;

                                    .txt {
                                        .howto {
                                            margin-top: 2.6vw;
                                        }
                                    }

                                    .img {
                                        img {
                                            width: 15.7vw;
                                        }
                                    }
                                }

                                &:last-child {
                                    padding: 1.3vw 0;

                                    .txt {
                                        margin-top: 0;
                                        line-height: 3.2vw;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        #workshop {
            padding: 17.3vw 0 43.3vw;

            .xc_inner {
                padding: 0 6.4vw;

                .bg_workshop {
                    width: 100%;
                    height: 177.7vw;
                    background: url(../img/bg_workshop_sp.png) no-repeat left top / 100%;
                    left: 0;
                }

                .content_workshop {
                    h2 {
                        margin-bottom: 6.6vw;
                    }

                    .intro {
                        font-size: 2.6vw;
                        line-height: 1.5;
                        margin-bottom: 8vw;
                    }

                    .movie {
                        padding: 0;

                        div {
                            height: 48.6vw;
                        }
                    }

                    .download {
                        padding: 0 0 0 6.4vw;
                        margin-top: 4vw;
                        font-size: 2.6vw;
                        line-height: 1.5;

                        .btn {
                            a {
                                width: 43.3vw;
                                text-align: left;
                                padding: 0 4vw;
                                line-height: 9.3vw;

                                &::after {
                                    width: 4vw;
                                    height: 2.9vw;
                                    right: 4vw;
                                }
                            }
                        }
                    }
                }
            }
        }

        #kiriko {
            padding-top: 26.6vw;

            .xc_inner {
                padding: 0 6.4vw;

                .txt {
                    font-size: 2.6vw;
                    line-height: 1.5;
                    margin-top: 6.6vw;
                }

                .slide_area {
                    width: 60vw;
                    margin: 4vw auto 0;
                    position: relative;
                    z-index: 2;

                    .slides {
                        .slide {
                            width: 100%;
                            padding: 8vw 9.3vw 4.6vw;

                            .name {
                                margin-top: 3.7vw;
                                font-size: 2vw;

                                span {
                                    font-size: 2vw;
                                    margin-right: 2vw;
                                    width: 7vw;
                                    line-height: 3.3vw;
                                }
                            }
                        }
                    }

                    .bx-wrapper .bx-prev {
                        left: -12.9vw;
                    }

                    .bx-wrapper .bx-next {
                        right: -12.9vw;
                    }
                }
            }
        }

        #showcase {
            padding-top: 19.2vw;

            .xc_inner {
                padding: 0 6.4vw;

                .bg_showcase {
                    width: 100%;
                    height: 356.1vw;
                    background: url(../img/bg_gray_sp.png) no-repeat left top / 100%;
                    top: -100.6vw;
                    left: 0;
                }

                .content_showcase {
                    h2 {
                        margin-bottom: 6.1vw;
                    }

                    .txt {
                        font-size: 2.4vw;
                        line-height: 1.5;
                    }

                    .slide_area {
                        width: 100%;
                        margin: 6.6vw auto 0;

                        .slides {
                            .slide {
                                width: 100%;
                                padding: 4vw 3.3vw 10.6vw;

                                ul {
                                    li {
                                        width: 36.8vw;
                                        font-size: 2.4vw;
                                        line-height: 3.3vw;

                                        .name {
                                            margin-top: 2.6vw;
                                            height: 6.6vw;
                                        }

                                        .price {
                                            margin-top: 1.3vw;
                                        }
                                    }
                                }
                            }
                        }

                        .bx-wrapper .bx-controls-direction a {
                            bottom: 4vw;
                            width: 11vw;
                        }

                        .bx-wrapper .bx-prev {
                            left: 4vw;
                        }

                        .bx-wrapper .bx-next {
                            right: 4vw;
                        }

                        .bx-wrapper .bx-pager,
                        .bx-wrapper .bx-controls-auto {
                            bottom: -8.6vw;
                        }
                    }

                    .notice {
                        margin-top: 2.6vw;
                        padding: 0;
                        font-size: 2vw;
                    }
                }
            }
        }

        #kadou {
            padding: 26vw 0 8vw;

            .xc_inner {
                padding: 0 6.4vw;

                h2 {
                    font-size: 4.2vw;
                }

                .row {
                    margin-top: 9.3vw;

                    .img {
                        width: calc(100% - 42.7vw);

                        p {
                            &.img_kadou_1 {
                                top: -2.6vw;
                                left: -4.6vw;

                                img {
                                    width: 47.4vw;
                                }
                            }

                            &.img_kadou_2 {
                                top: 46.6vw;
                                left: -10.6vw;

                                img {
                                    width: 40.3vw;
                                }
                            }

                            &.img_kadou_3 {
                                top: 82.6vw;
                                left: 9.8vw;

                                img {
                                    width: 31vw;
                                }
                            }
                        }
                    }

                    .txt {
                        width: 42.7vw;

                        .title {
                            .profession {
                                font-size: 2.4vw;
                            }

                            .name {
                                font-size: 4.5vw;
                                flex-direction: column;
                                align-items: flex-start;
                                margin-top: 2.2vw;

                                span {
                                    margin: 2.2vw 0 0 0;
                                    font-size: 1.8vw;
                                }
                            }

                            .position {
                                font-size: 1.8vw;
                                line-height: 2.4vw;
                                margin-top: 2.2vw;
                            }
                        }

                        .desc {
                            margin-top: 5.2vw;
                        }
                    }

                    &.about {
                        margin-top: 6.6vw;

                        .img {
                            padding-top: 20vw;

                            img {
                                width: 35vw;
                            }
                        }
                    }
                }
            }
        }

        .bx-wrapper .bx-controls-direction a {
            width: 8vw;
            height: 1.3vw;
            top: 34.5vw;
        }

        .bx-wrapper .bx-prev {
            left: 44.8vw;
        }

        .bx-wrapper .bx-next {
            right: 4.8vw;
        }

        .bx-wrapper .bx-pager.bx-default-pager a {
            width: 1.7vw;
            height: 1.7vw;
        }
    }

}
