@charset "UTF-8";
/* common */
#xc2020 {
  font-family: 'ヒラギノ角ゴシック', 'Hiragino Sans', 'Noto Sans JP', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  background: #fafafa;
}

#xc2020 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#xc2020 img {
  vertical-align: bottom;
  max-width: 100%;
}

#xc2020 table {
  border-collapse: collapse;
}

#xc2020 input, #xc2020 textarea, #xc2020 button {
  font-size: inherit;
  -webkit-appearance: none;
  background: none;
  border: 1px solid #ccc;
  box-shadow: none;
}

#xc2020 a {
  text-decoration: none;
  transition: all .3s ease;
}

#xc2020 a:hover {
  opacity: .7;
}

#xc2020 li {
  list-style: none;
}

#xc2020 .row {
  display: flex;
  flex-wrap: wrap;
}

#xc2020 .xc_inner {
  width: 1000px;
  margin: 0 auto;
}

#xc2020 .xc_inner.w700 {
  width: 700px;
}

#xc2020 h2 {
  color: #595757;
  font-size: 31px;
  letter-spacing: .2em;
  line-height: 1;
  font-family: bodoni-urw, serif;
  font-weight: 500;
}

#xc2020 h2 span {
  color: #e6001a;
  display: block;
  font-size: 20px;
  margin-bottom: 25px;
  letter-spacing: .1em;
}

#xc2020 .pc {
  display: block;
}

#xc2020 .sp {
  display: none;
}

#xc2020 .g-header img, #xc2020 .g-footer img {
  width: auto;
}

#xc2020 h1 {
  margin: 0;
}

#xc2020 #mv {
  margin-top: 105px;
}

#xc2020 #intro {
  text-align: center;
}

#xc2020 #intro .xc_inner {
  background: url(../img/bg_intro.png) no-repeat center/cover;
  color: #fff;
  padding: 70px 0 80px;
}

#xc2020 #intro .xc_inner .title {
  font-size: 32px;
  line-height: 1;
  font-family: bodoni-urw, serif;
  font-weight: 500;
  letter-spacing: .1em;
}

#xc2020 #intro .xc_inner .catch {
  margin-top: 37px;
  line-height: 1;
  font-size: 20px;
  font-family: 'ten-mincho';
  letter-spacing: .4em;
}

#xc2020 #intro .xc_inner .date {
  margin-top: 44px;
  line-height: 1;
  font-size: 20px;
  font-family: bodoni-urw, serif;
  font-weight: 500;
  letter-spacing: .2em;
}

#xc2020 #intro .xc_inner .txt {
  margin-top: 67px;
  line-height: 20px;
}

#xc2020 #nav {
  padding: 40px 0 0;
  position: relative;
  z-index: 2;
}

#xc2020 #nav .xc_inner nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 760px;
  margin: 0 auto;
}

#xc2020 #nav .xc_inner nav ul li a {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 12px;
  line-height: 40px;
  width: 190px;
  padding-left: 13px;
  font-family: bodoni-urw, serif;
  font-weight: 500;
  letter-spacing: .1em;
}

#xc2020 #nav .xc_inner nav ul li a::before {
  content: '';
  width: 6px;
  height: 6px;
  display: block;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(45deg);
  margin-right: 10px;
}

#xc2020 #nav .xc_inner nav ul li:nth-child(1) a {
  background: #e83428;
}

#xc2020 #nav .xc_inner nav ul li:nth-child(2) a {
  background: #a0131a;
}

#xc2020 #nav .xc_inner nav ul li:nth-child(3) a {
  background: #c9151e;
}

#xc2020 #nav .xc_inner nav ul li:nth-child(4) a {
  background: #db1b0a;
}

#xc2020 #nav .xc_inner nav ul li:nth-child(5) a {
  background: #c9151e;
}

#xc2020 #nav .xc_inner nav ul li:nth-child(6) a {
  background: #e6001a;
}

#xc2020 #nav .xc_inner nav ul li:nth-child(7) a {
  background: #a0131a;
  letter-spacing: 0;
}

#xc2020 #kogin {
  padding-top: 154px;
}

#xc2020 #kogin .xc_inner {
  position: relative;
}

#xc2020 #kogin .xc_inner .content_kogin {
  position: relative;
  z-index: 2;
}

#xc2020 #kogin .xc_inner .bg_kogin {
  width: 1000px;
  height: 1333px;
  background: url(../img/bg_kogin.png) no-repeat center/100%;
  display: block;
  position: absolute;
  top: -228px;
  left: -150px;
}

#xc2020 #kogin .xc_inner h2 {
  text-align: right;
}

#xc2020 #kogin .xc_inner .title_area {
  position: relative;
  height: 492px;
}

#xc2020 #kogin .xc_inner .title_area p {
  position: absolute;
}

#xc2020 #kogin .xc_inner .title_area p.img_kogin_1 {
  top: 0;
  left: 35px;
}

#xc2020 #kogin .xc_inner .title_area p.img_kogin_2 {
  bottom: 0;
  left: 335px;
}

#xc2020 #kogin .xc_inner .title_area p.notice {
  position: absolute;
  bottom: 48px;
  left: 25px;
  font-size: 10px;
  color: #fff;
  line-height: 1;
}

#xc2020 #kogin .xc_inner .slide_area {
  margin: 25px auto 0;
  width: 650px;
  position: relative;
  box-shadow: 0 7px 18px rgba(93, 94, 94, 0.38);
}

#xc2020 #kogin .xc_inner .slide_area .slides .slide {
  width: 650px;
  background: #e6001a;
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
}

#xc2020 #kogin .xc_inner .slide_area .slides .slide .title {
  background: #e6001a;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  position: absolute;
  top: 15px;
  left: 0;
  padding: 0 10px;
}

#xc2020 #kogin .xc_inner .slide_area .slides .slide .txt {
  font-size: 15px;
  line-height: 2;
  padding: 0 25px;
  text-align: justify;
}

#xc2020 #kogin .xc_inner .detail {
  margin-top: 30px;
}

#xc2020 #kogin .xc_inner .detail .row {
  justify-content: space-between;
}

#xc2020 #kogin .xc_inner .detail .row .img .img_kogin_4 {
  margin-top: -20px;
}

#xc2020 #kogin .xc_inner .detail .row .img .notice {
  color: #595757;
  font-size: 10px;
  line-height: 1;
  margin-left: 40px;
}

#xc2020 #kogin .xc_inner .detail .row .txt {
  width: 350px;
  padding-top: 60px;
}

#xc2020 #kogin .xc_inner .detail .row .txt .title {
  font-family: 'ten-mincho';
  color: #595757;
}

#xc2020 #kogin .xc_inner .detail .row .txt .title .profession {
  color: #e6001a;
  font-size: 14px;
  line-height: 1;
}

#xc2020 #kogin .xc_inner .detail .row .txt .title .name {
  font-size: 28px;
  display: flex;
  align-items: center;
  margin-top: 15px;
  line-height: 1;
}

#xc2020 #kogin .xc_inner .detail .row .txt .title .name span {
  font-size: 12px;
  margin-left: 19px;
}

#xc2020 #kogin .xc_inner .detail .row .txt .title .main {
  font-size: 24px;
  margin-top: 17px;
  line-height: 1;
}

#xc2020 #kogin .xc_inner .detail .row .txt .title .position {
  font-size: 12px;
  margin-top: 17px;
  line-height: 18px;
}

#xc2020 #kogin .xc_inner .detail .row .txt .desc {
  margin-top: 35px;
  color: #595757;
  text-align: justify;
}

#xc2020 #kogin .xc_inner .detail .row.about {
  margin-top: 20px;
}

#xc2020 #kogin .xc_inner .detail .row.about .txt {
  padding-left: 50px;
}

#xc2020 #kogin .xc_inner .detail .row.about .txt .title .sub {
  color: #e6001a;
}

#xc2020 #kogin .xc_inner .detail .row.about .img .img_kogin_6 {
  margin: -45px 0 0 -45px;
}

#xc2020 #insta {
  padding-top: 120px;
}

#xc2020 #insta .xc_inner {
  position: relative;
}

#xc2020 #insta .xc_inner .bg_insta {
  width: 1000px;
  height: 1333px;
  background: url(../img/bg_insta.png) no-repeat center/100%;
  display: block;
  position: absolute;
  top: -310px;
  left: -150px;
}

#xc2020 #insta .xc_inner .content_insta {
  position: relative;
}

#xc2020 #insta .xc_inner .content_insta .title_area {
  margin-top: 40px;
  justify-content: space-between;
}

#xc2020 #insta .xc_inner .content_insta .title_area .img {
  margin-left: -20px;
}

#xc2020 #insta .xc_inner .content_insta .title_area .txt {
  color: #fff;
  width: 405px;
  margin: 185px -50px 0 0;
  font-weight: 500;
}

#xc2020 #insta .xc_inner .content_insta .title_area .txt .title {
  font-family: bodoni-urw, serif;
  font-size: 21px;
  margin-bottom: 15px;
  line-height: 1;
  letter-spacing: .2em;
}

#xc2020 #insta .xc_inner .content_insta .howto {
  margin-top: 50px;
}

#xc2020 #insta .xc_inner .content_insta .howto h3 {
  color: #e6001a;
  font-weight: 600;
  letter-spacing: .2em;
  margin-bottom: 28px;
  padding: 0 25px;
}

#xc2020 #insta .xc_inner .content_insta .howto ol {
  padding: 0 25px;
}

#xc2020 #insta .xc_inner .content_insta .howto ol li {
  position: relative;
}

#xc2020 #insta .xc_inner .content_insta .howto ol li::before {
  content: '';
  width: 164px;
  height: 164px;
  box-shadow: 0 7px 18px rgba(93, 94, 94, 0.38);
  display: block;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#xc2020 #insta .xc_inner .content_insta .howto ol li:not(:last-child) {
  margin-bottom: 75px;
}

#xc2020 #insta .xc_inner .content_insta .howto ol li:not(:last-child)::after {
  content: '';
  width: 67px;
  height: 49px;
  background: url(../img/arw_red_bottom.png) no-repeat center/contain;
  display: block;
  position: absolute;
  top: calc(100% + 20px);
  left: 130px;
}

#xc2020 #insta .xc_inner .content_insta .howto ol li .txt {
  background: #fff;
  border: 1px solid #e6001a;
  padding: 20px 15px;
  width: 568px;
  height: 100px;
  display: flex;
  align-items: center;
  color: #e6001a;
  box-shadow: 0 7px 18px rgba(93, 94, 94, 0.38);
  position: relative;
}

#xc2020 #insta .xc_inner .content_insta .howto ol li .txt .num {
  font-size: 60px;
  font-family: bodoni-urw, serif;
  font-weight: 500;
  margin-right: 24px;
}

#xc2020 #insta .xc_inner .content_insta .howto ol li .txt .desc span {
  display: flex;
  font-size: 10px;
}

#xc2020 #insta .xc_inner .content_insta .howto ol li .img {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#xc2020 #insta .xc_inner .content_insta .terms {
  margin-top: 90px;
  padding: 0 25px;
  z-index: 2;
  position: relative;
}

#xc2020 #insta .xc_inner .content_insta .terms h3 {
  color: #e6001a;
  margin-bottom: 20px;
  letter-spacing: .2em;
}

#xc2020 #insta .xc_inner .content_insta .terms .terms_area {
  width: 650px;
  border: 1px solid #e6001a;
  padding: 45px 40px;
  color: #595757;
  font-size: 10px;
  line-height: 13px;
  height: 250px;
  overflow-y: scroll;
  box-shadow: 0 7px 18px rgba(93, 94, 94, 0.38);
  background: #fff;
}

#xc2020 #insta .xc_inner .content_insta .contact {
  margin-top: 58px;
  padding: 0 25px;
  display: flex;
}

#xc2020 #insta .xc_inner .content_insta .contact h3 {
  color: #e6001a;
  letter-spacing: .2em;
  margin-right: 35px;
}

#xc2020 #insta .xc_inner .content_insta .contact .txt {
  width: 357px;
  color: #595757;
}

#xc2020 #insta .xc_inner .content_insta .contact .txt .notice {
  margin-top: 5px;
  font-size: 10px;
  line-height: 14px;
}

#xc2020 #card {
  padding-top: 60px;
}

#xc2020 #card .xc_inner {
  position: relative;
}

#xc2020 #card .xc_inner .bg_card {
  width: 838px;
  height: 2671px;
  display: block;
  background: url(../img/bg_gray_right.png) no-repeat right top;
  position: absolute;
  top: -700px;
  right: -150px;
}

#xc2020 #card .xc_inner .content_card {
  position: relative;
}

#xc2020 #card .xc_inner .content_card .title_area {
  text-align: right;
  display: flex;
  justify-content: space-between;
}

#xc2020 #card .xc_inner .content_card .title_area .img {
  margin-left: -120px;
}

#xc2020 #card .xc_inner .content_card .title_area .txt {
  padding-top: 150px;
}

#xc2020 #card .xc_inner .content_card .title_area .txt p {
  color: #595757;
  font-family: 'ten-mincho';
  font-size: 20px;
  margin-top: 20px;
  line-height: 1;
}

#xc2020 #card .xc_inner .content_card .points {
  margin-top: -70px;
}

#xc2020 #card .xc_inner .content_card .points ul {
  padding: 0 15px;
}

#xc2020 #card .xc_inner .content_card .points ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e6001a;
}

#xc2020 #card .xc_inner .content_card .points ul li .num {
  background: url(../img/bg_card_num.png) no-repeat center/contain;
  width: 81px;
  height: 98px;
  color: #fff;
  text-align: center;
  line-height: 98px;
  font-size: 38px;
  font-family: bodoni-urw, serif;
  margin-right: 10px;
  filter: drop-shadow(0 7px 9px rgba(93, 94, 94, 0.38));
}

#xc2020 #card .xc_inner .content_card .points ul li .txt {
  color: #595757;
  line-height: 20px;
  width: 377px;
}

#xc2020 #card .xc_inner .content_card .points ul li .txt span {
  color: #e6001a;
}

#xc2020 #card .xc_inner .content_card .points ul li .txt .notice {
  margin-top: 20px;
  font-size: 10px;
}

#xc2020 #card .xc_inner .content_card .points ul li .txt .block {
  background: #fff;
  border: 1px solid #e6001a;
  padding: 10px 0;
  text-align: center;
  font-size: 12px;
  color: #e6001a;
  line-height: 18px;
  margin-top: 30px;
}

#xc2020 #card .xc_inner .content_card .points ul li .img {
  width: 180px;
  text-align: center;
}

#xc2020 #card .xc_inner .content_card .points ul li .img span {
  display: block;
  font-size: 12px;
  line-height: 15px;
  color: #595757;
  margin: -10px 0;
}

#xc2020 #card .xc_inner .content_card .points ul li .img span:not(:last-child) {
  margin-bottom: 15px;
}

#xc2020 #card .xc_inner .content_card .points ul li:first-child .img {
  padding-bottom: 45px;
}

#xc2020 #card .xc_inner .content_card .points ul li:nth-child(2) {
  padding: 30px 0 5px;
}

#xc2020 #card .xc_inner .content_card .points ul li:nth-child(2) .txt .howto {
  margin-top: 20px;
}

#xc2020 #card .xc_inner .content_card .points ul li:nth-child(3) .txt {
  line-height: 22px;
}

#xc2020 #workshop {
  padding: 160px 0 270px;
}

#xc2020 #workshop .xc_inner {
  position: relative;
}

#xc2020 #workshop .xc_inner .bg_workshop {
  width: 1000px;
  height: 1333px;
  display: block;
  background: url(../img/bg_workshop.png) no-repeat left top;
  position: absolute;
  top: 0;
  left: -150px;
}

#xc2020 #workshop .xc_inner .content_workshop {
  position: relative;
}

#xc2020 #workshop .xc_inner .content_workshop h2 {
  margin-bottom: 56px;
}

#xc2020 #workshop .xc_inner .content_workshop .intro {
  font-size: 16px;
  line-height: 24px;
  color: #595757;
  margin-bottom: 40px;
}

#xc2020 #workshop .xc_inner .content_workshop .movie {
  padding: 0 25px;
}

#xc2020 #workshop .xc_inner .content_workshop .movie div {
  background: #aaa;
  height: 365px;
}

#xc2020 #workshop .xc_inner .content_workshop .download {
  margin-top: 40px;
  display: flex;
  align-items: center;
  padding: 0 25px;
  justify-content: space-between;
  color: #fff;
}

#xc2020 #workshop .xc_inner .content_workshop .download .btn a {
  background: #fff;
  color: #767575;
  line-height: 50px;
  text-align: center;
  display: block;
  width: 325px;
  border: 1px solid #595757;
  position: relative;
}

#xc2020 #workshop .xc_inner .content_workshop .download .btn a::after {
  content: '';
  width: 30px;
  height: 22px;
  display: block;
  background: url(../img/ic_dl.png) no-repeat center/contain;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
}

#xc2020 #kiriko {
  padding-top: 120px;
}

#xc2020 #kiriko .xc_inner {
  position: relative;
}

#xc2020 #kiriko .xc_inner .content_kiriko {
  position: relative;
}

#xc2020 #kiriko .xc_inner h2 {
  text-align: right;
}

#xc2020 #kiriko .xc_inner .txt {
  margin-top: 56px;
  color: #595757;
  font-size: 16px;
  line-height: 26px;
  text-align: justify;
}

#xc2020 #kiriko .xc_inner .slide_area {
  margin: 80px auto 0;
  width: 450px;
  box-shadow: 0 7px 18px rgba(93, 94, 94, 0.38);
}

#xc2020 #kiriko .xc_inner .slide_area .slides .slide {
  background: #e6001a;
  padding: 60px 75px 35px;
  width: 450px;
}

#xc2020 #kiriko .xc_inner .slide_area .slides .slide .name {
  color: #fff;
  display: flex;
  align-items: center;
  margin-top: 28px;
  line-height: 1;
}

#xc2020 #kiriko .xc_inner .slide_area .slides .slide .name span {
  background: #fff;
  color: #e6001a;
  line-height: 25px;
  width: 75px;
  text-align: center;
  display: block;
  margin-right: 16px;
  font-family: bodoni-urw, serif;
  font-weight: 500;
  font-size: 15px;
}

#xc2020 #kiriko .xc_inner .slide_area .bx-wrapper .bx-controls-direction a {
  top: 50%;
}

#xc2020 #kiriko .xc_inner .slide_area .bx-wrapper .bx-prev {
  background: url(../img/arw_red_left.png) no-repeat center/contain;
  left: -97px;
}

#xc2020 #kiriko .xc_inner .slide_area .bx-wrapper .bx-next {
  background: url(../img/arw_red_right.png) no-repeat center/contain;
  right: -97px;
}

#xc2020 #showcase {
  padding-top: 160px;
}

#xc2020 #showcase .xc_inner {
  position: relative;
}

#xc2020 #showcase .xc_inner .bg_showcase {
  width: 838px;
  height: 2671px;
  display: block;
  background: url(../img/bg_gray.png) no-repeat left top;
  position: absolute;
  top: -536px;
  left: -150px;
}

#xc2020 #showcase .xc_inner .content_showcase {
  position: relative;
}

#xc2020 #showcase .xc_inner .content_showcase h2 {
  margin-bottom: 50px;
}

#xc2020 #showcase .xc_inner .content_showcase .txt {
  color: #595757;
  font-size: 16px;
  line-height: 24px;
}

#xc2020 #showcase .xc_inner .content_showcase .slide_area {
  margin: 50px auto 0;
  width: 650px;
  box-shadow: 0 7px 18px rgba(93, 94, 94, 0.38);
}

#xc2020 #showcase .xc_inner .content_showcase .slide_area .slides .slide {
  background: #e6001a;
  padding: 30px 30px 80px;
  width: 650px;
}

#xc2020 #showcase .xc_inner .content_showcase .slide_area .slides .slide ul {
  display: flex;
  justify-content: space-between;
}

#xc2020 #showcase .xc_inner .content_showcase .slide_area .slides .slide ul li {
  width: 276px;
  text-align: center;
  color: #fff;
}

#xc2020 #showcase .xc_inner .content_showcase .slide_area .slides .slide ul li .name {
  margin-top: 20px;
  line-height: 25px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#xc2020 #showcase .xc_inner .content_showcase .slide_area .bx-wrapper .bx-pager, #xc2020 #showcase .xc_inner .content_showcase .slide_area .bx-wrapper .bx-controls-auto {
  bottom: -50px;
}

#xc2020 #showcase .xc_inner .content_showcase .slide_area .bx-wrapper .bx-controls-direction a {
  top: auto;
  bottom: 30px;
}

#xc2020 #showcase .xc_inner .content_showcase .slide_area .bx-wrapper .bx-prev {
  background: url(../img/arw_white_left.png) no-repeat center/contain;
  left: 29px;
}

#xc2020 #showcase .xc_inner .content_showcase .slide_area .bx-wrapper .bx-next {
  background: url(../img/arw_white_right.png) no-repeat center/contain;
  right: 29px;
}

#xc2020 #showcase .xc_inner .content_showcase .notice {
  margin-top: 15px;
  line-height: 1;
  padding: 0 25px;
  text-align: right;
  font-size: 10px;
  color: #595757;
}

#xc2020 #kadou {
  padding: 150px 0 110px;
}

#xc2020 #kadou .xc_inner .content_kadou {
  position: relative;
}

#xc2020 #kadou .xc_inner h2 {
  font-family: 'ten-mincho';
  font-size: 28px;
  text-align: right;
}

#xc2020 #kadou .xc_inner h2 span {
  font-family: bodoni-urw, serif;
  font-weight: 500;
}

#xc2020 #kadou .xc_inner .row {
  margin-top: 108px;
}

#xc2020 #kadou .xc_inner .row .img {
  width: 350px;
  position: relative;
}

#xc2020 #kadou .xc_inner .row .img p {
  position: absolute;
}

#xc2020 #kadou .xc_inner .row .img p.img_kadou_1 {
  top: -60px;
  left: -20px;
}

#xc2020 #kadou .xc_inner .row .img p.img_kadou_2 {
  top: 265px;
  left: -90px;
}

#xc2020 #kadou .xc_inner .row .img p.img_kadou_3 {
  top: 465px;
  left: 88px;
}

#xc2020 #kadou .xc_inner .row .txt {
  width: 350px;
}

#xc2020 #kadou .xc_inner .row .txt .title {
  font-family: 'ten-mincho';
  color: #595757;
}

#xc2020 #kadou .xc_inner .row .txt .title .profession {
  color: #e6001a;
  font-size: 14px;
  line-height: 1;
}

#xc2020 #kadou .xc_inner .row .txt .title .name {
  font-size: 28px;
  display: flex;
  align-items: center;
  margin-top: 15px;
  line-height: 1;
}

#xc2020 #kadou .xc_inner .row .txt .title .name span {
  font-size: 12px;
  margin-left: 19px;
}

#xc2020 #kadou .xc_inner .row .txt .title .sub {
  color: #e6001a;
}

#xc2020 #kadou .xc_inner .row .txt .title .main {
  font-size: 24px;
  margin-top: 17px;
  line-height: 1;
}

#xc2020 #kadou .xc_inner .row .txt .title .position {
  font-size: 12px;
  margin-top: 17px;
  line-height: 18px;
}

#xc2020 #kadou .xc_inner .row .txt .desc {
  margin-top: 35px;
  color: #595757;
  text-align: justify;
}

#xc2020 #kadou .xc_inner .row.about .txt {
  padding-top: 0;
}

#xc2020 #kadou .xc_inner .row.about .txt .desc {
  margin-top: 0;
}

#xc2020 #kadou .xc_inner .row.about .img {
  padding-top: 35px;
}

#xc2020 #kadou .xc_inner .row.about .img p {
  text-align: right;
  position: static;
}

#xc2020 .bx-wrapper {
  border: none;
  box-shadow: none;
  background: none;
}

#xc2020 .bx-wrapper .bx-pager.bx-default-pager a {
  background: #9fa0a0;
  width: 7px;
  height: 7px;
}

#xc2020 .bx-wrapper .bx-pager.bx-default-pager .bx-pager-item:not(:last-child) {
  margin-right: 10px;
}

#xc2020 .bx-wrapper .bx-pager.bx-default-pager a:hover, #xc2020 .bx-wrapper .bx-pager.bx-default-pager a.active, #xc2020 .bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #c90915;
}

#xc2020 .bx-wrapper .bx-controls-direction a {
  width: 78px;
  height: 10px;
  top: 263px;
}

#xc2020 .bx-wrapper .bx-prev {
  background: url(../img/arw_white_left.png) no-repeat center/contain;
  left: 338px;
}

#xc2020 .bx-wrapper .bx-next {
  background: url(../img/arw_white_right.png) no-repeat center/contain;
  right: 34px;
}

@media (max-width: 1000px) {
  body {
    width: 1000px;
  }
}

@media (max-width: 768px) {
  body {
    width: 100%;
  }
  #xc2020 {
    font-size: 2.6vw;
    line-height: 3.7vw;
    padding-left: 9px;
  }
  #xc2020 .pc {
    display: none;
  }
  #xc2020 .sp {
    display: block;
  }
  #xc2020 h2 {
    font-size: 4.9vw;
  }
  #xc2020 h2 span {
    font-size: 3.4vw;
    margin-bottom: 3.7vw;
  }
  #xc2020 .xc_inner {
    width: 100%;
  }
  #xc2020 .xc_inner.w700 {
    width: 100%;
  }
  #xc2020 #mv {
    margin-top: 48px;
  }
  #xc2020 #intro .xc_inner {
    padding: 3.7vw 0;
  }
  #xc2020 #intro .xc_inner .title {
    font-size: 4.9vw;
  }
  #xc2020 #intro .xc_inner .catch {
    margin-top: 3.3vw;
    font-size: 3.6vw;
  }
  #xc2020 #intro .xc_inner .date {
    margin-top: 4.2vw;
    font-size: 3.4vw;
  }
  #xc2020 #intro .xc_inner .txt {
    margin-top: 6.4vw;
    line-height: 3.6vw;
  }
  #xc2020 #nav {
    padding: 0;
  }
  #xc2020 #nav .xc_inner nav ul {
    flex-wrap: wrap;
    width: 100%;
  }
  #xc2020 #nav .xc_inner nav ul li {
    width: 50%;
  }
  #xc2020 #nav .xc_inner nav ul li a {
    width: 100%;
    font-size: 2.8vw;
    line-height: 3.2vw;
    height: 12vw;
    padding-left: 3.3vw;
  }
  #xc2020 #nav .xc_inner nav ul li a::before {
    width: 1.3vw;
    height: 1.3vw;
    margin-right: 2.3vw;
  }
  #xc2020 #nav .xc_inner nav ul li:nth-child(3) {
    width: calc(100% / 3);
  }
  #xc2020 #nav .xc_inner nav ul li:nth-child(3) a {
    text-align: center;
  }
  #xc2020 #nav .xc_inner nav ul li:nth-child(4) {
    width: calc(100% / 3);
  }
  #xc2020 #nav .xc_inner nav ul li:nth-child(4) a {
    text-align: center;
  }
  #xc2020 #nav .xc_inner nav ul li:nth-child(5) {
    width: calc(100% / 3);
  }
  #xc2020 #nav .xc_inner nav ul li:nth-child(5) a {
    text-align: center;
  }
  #xc2020 #kogin {
    padding-top: 6.4vw;
  }
  #xc2020 #kogin .xc_inner {
    padding: 0 6.4vw;
  }
  #xc2020 #kogin .xc_inner .bg_kogin {
    width: 100%;
    height: 177.7vw;
    left: 0;
    top: 4.9vw;
    background: url(../img/bg_kogin_sp.png) no-repeat center top/100%;
  }
  #xc2020 #kogin .xc_inner .title_area {
    height: 73vw;
  }
  #xc2020 #kogin .xc_inner .title_area p.img_kogin_1 {
    left: 1.6vw;
    top: 1.3vw;
  }
  #xc2020 #kogin .xc_inner .title_area p.img_kogin_1 img {
    width: 47.4vw;
  }
  #xc2020 #kogin .xc_inner .title_area p.img_kogin_2 {
    left: 42.8vw;
    top: 24.5vw;
  }
  #xc2020 #kogin .xc_inner .title_area p.img_kogin_2 img {
    width: 35.3vw;
  }
  #xc2020 #kogin .xc_inner .title_area p.notice {
    bottom: 14.6vw;
    left: 0;
    font-size: 1.6vw;
  }
  #xc2020 #kogin .xc_inner .slide_area {
    margin: 0 auto;
    width: 100%;
  }
  #xc2020 #kogin .xc_inner .slide_area .slides .slide {
    width: 100%;
  }
  #xc2020 #kogin .xc_inner .slide_area .slides .slide .title {
    font-size: 1.6vw;
    line-height: 2.6vw;
    padding: 0 1.3vw;
    top: 2.1vw;
  }
  #xc2020 #kogin .xc_inner .slide_area .slides .slide img {
    width: 40vw;
  }
  #xc2020 #kogin .xc_inner .slide_area .slides .slide .txt {
    padding: 0 3.7vw;
    font-size: 2.6vw;
    line-height: 1.5;
  }
  #xc2020 #kogin .xc_inner .detail {
    margin-top: 10vw;
  }
  #xc2020 #kogin .xc_inner .detail .row .img {
    width: calc(100% - 43.7vw);
  }
  #xc2020 #kogin .xc_inner .detail .row .img .img_kogin_3 img {
    width: 44vw;
  }
  #xc2020 #kogin .xc_inner .detail .row .img .img_kogin_4 {
    margin: -4.8vw 0 0 -3.3vw;
  }
  #xc2020 #kogin .xc_inner .detail .row .img .img_kogin_4 img {
    width: 38.9vw;
  }
  #xc2020 #kogin .xc_inner .detail .row .img .notice {
    text-align: center;
    font-size: 1.8vw;
    line-height: 2.4vw;
    margin-left: 7vw;
    display: inline-block;
  }
  #xc2020 #kogin .xc_inner .detail .row .txt {
    width: 43.7vw;
    padding-top: 13.3vw;
  }
  #xc2020 #kogin .xc_inner .detail .row .txt .title .profession {
    font-size: 2.4vw;
  }
  #xc2020 #kogin .xc_inner .detail .row .txt .title .name {
    font-size: 4.5vw;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2.2vw;
  }
  #xc2020 #kogin .xc_inner .detail .row .txt .title .name span {
    margin: 2.2vw 0 0 0;
    font-size: 1.8vw;
  }
  #xc2020 #kogin .xc_inner .detail .row .txt .title .position {
    font-size: 1.8vw;
    line-height: 2.4vw;
    margin-top: 2.2vw;
  }
  #xc2020 #kogin .xc_inner .detail .row .txt .desc {
    margin-top: 5.2vw;
  }
  #xc2020 #kogin .xc_inner .detail .row .sp {
    color: #595757;
    margin-top: 5vw;
    text-align: justify;
  }
  #xc2020 #kogin .xc_inner .detail .row.about {
    margin-top: 13.3vw;
  }
  #xc2020 #kogin .xc_inner .detail .row.about .txt {
    padding: 0;
  }
  #xc2020 #kogin .xc_inner .detail .row.about .txt .title .sub {
    font-size: 2.2vw;
  }
  #xc2020 #kogin .xc_inner .detail .row.about .txt .title .main {
    font-size: 4vw;
    margin-top: 2.2vw;
  }
  #xc2020 #kogin .xc_inner .detail .row.about .txt .desc {
    margin-top: 4.6vw;
  }
  #xc2020 #kogin .xc_inner .detail .row.about .img {
    padding-top: 6vw;
  }
  #xc2020 #kogin .xc_inner .detail .row.about .img .img_kogin_5 {
    margin-right: -6.4vw;
    text-align: right;
  }
  #xc2020 #kogin .xc_inner .detail .row.about .img .img_kogin_5 img {
    width: 39vw;
  }
  #xc2020 #kogin .xc_inner .detail .row.about .img .img_kogin_6 {
    margin: -9.3vw 0 0 1.3vw;
  }
  #xc2020 #kogin .xc_inner .detail .row.about .img .img_kogin_6 img {
    width: 32.5vw;
  }
  #xc2020 #insta {
    padding-top: 34.2vw;
  }
  #xc2020 #insta .xc_inner {
    padding: 0 6.4vw;
  }
  #xc2020 #insta .xc_inner .bg_insta {
    width: 100%;
    background: url(../img/bg_insta_sp.png) no-repeat center/100%;
    left: 0;
  }
  #xc2020 #insta .xc_inner .content_insta .title_area {
    margin-top: 4.6vw;
  }
  #xc2020 #insta .xc_inner .content_insta .title_area .img {
    margin-left: -5vw;
  }
  #xc2020 #insta .xc_inner .content_insta .title_area .img img {
    width: 37.3vw;
  }
  #xc2020 #insta .xc_inner .content_insta .title_area .txt {
    margin-top: 23vw;
    margin-right: 0;
    width: 46.2vw;
  }
  #xc2020 #insta .xc_inner .content_insta .title_area .txt .title {
    font-size: 4vw;
    margin-bottom: 2.6vw;
  }
  #xc2020 #insta .xc_inner .content_insta .howto {
    margin-top: 13.3vw;
  }
  #xc2020 #insta .xc_inner .content_insta .howto h3 {
    color: #fff;
    margin-bottom: 2.2vw;
    padding: 0;
    font-size: 2.4vw;
  }
  #xc2020 #insta .xc_inner .content_insta .howto ol {
    padding: 0;
  }
  #xc2020 #insta .xc_inner .content_insta .howto ol li:not(:last-child) {
    margin-bottom: 9.8vw;
  }
  #xc2020 #insta .xc_inner .content_insta .howto ol li:not(:last-child)::after {
    width: 8.9vw;
    height: 6.5vw;
    top: calc(100% + 2.6vw);
  }
  #xc2020 #insta .xc_inner .content_insta .howto ol li::before {
    width: 21.8vw;
    height: 21.8vw;
  }
  #xc2020 #insta .xc_inner .content_insta .howto ol li .txt {
    width: 75.6vw;
    height: 13.3vw;
    padding: 2.6vw;
    font-size: 2.4vw;
  }
  #xc2020 #insta .xc_inner .content_insta .howto ol li .txt .num {
    font-size: 8vw;
    margin-right: 2vw;
  }
  #xc2020 #insta .xc_inner .content_insta .howto ol li .txt .desc span {
    font-size: 1.8vw;
  }
  #xc2020 #insta .xc_inner .content_insta .howto ol li .img img {
    width: 21.8vw;
  }
  #xc2020 #insta .xc_inner .content_insta .terms {
    margin-top: 13.3vw;
    padding: 0;
  }
  #xc2020 #insta .xc_inner .content_insta .terms h3 {
    margin-bottom: 2.6vw;
    font-size: 2.4vw;
  }
  #xc2020 #insta .xc_inner .content_insta .terms .terms_area {
    width: 100%;
    height: 33.3vw;
    padding: 6.6vw 5.3vw;
    font-size: 1.7vw;
    line-height: 2.1vw;
  }
  #xc2020 #insta .xc_inner .content_insta .contact {
    padding: 0;
    margin-top: 6.6vw;
    flex-direction: column;
  }
  #xc2020 #insta .xc_inner .content_insta .contact h3 {
    margin-right: 0;
    margin-bottom: 2.6vw;
    font-size: 2.4vw;
  }
  #xc2020 #insta .xc_inner .content_insta .contact .txt {
    width: 100%;
    font-size: 2.5vw;
    line-height: 4vw;
  }
  #xc2020 #insta .xc_inner .content_insta .contact .txt .notice {
    font-size: 1.8vw;
    margin-top: 1.3vw;
    line-height: 2.9vw;
  }
  #xc2020 #card {
    padding-top: 8vw;
  }
  #xc2020 #card .xc_inner {
    padding: 0 6.4vw;
  }
  #xc2020 #card .xc_inner .bg_card {
    width: 100%;
    right: 0;
    background: url(../img/bg_gray_right.png) no-repeat right top/100%;
  }
  #xc2020 #card .xc_inner .content_card .title_area .img {
    margin-left: -17.3vw;
  }
  #xc2020 #card .xc_inner .content_card .title_area .img img {
    width: 45.6vw;
  }
  #xc2020 #card .xc_inner .content_card .title_area .txt {
    padding-top: 20vw;
    margin-left: -5vw;
  }
  #xc2020 #card .xc_inner .content_card .title_area .txt h2 {
    font-size: 4.6vw;
    letter-spacing: .1em;
  }
  #xc2020 #card .xc_inner .content_card .title_area .txt p {
    font-size: 2.6vw;
    margin-top: 2.6vw;
  }
  #xc2020 #card .xc_inner .content_card .points {
    margin-top: -5.3vw;
  }
  #xc2020 #card .xc_inner .content_card .points ul {
    padding: 0;
  }
  #xc2020 #card .xc_inner .content_card .points ul li .num {
    width: 10vw;
    height: 11vw;
    font-size: 4.8vw;
    line-height: 11vw;
    margin-right: 1.3vw;
  }
  #xc2020 #card .xc_inner .content_card .points ul li .txt {
    width: 56vw;
    line-height: 3.2vw;
    font-size: 2.4vw;
  }
  #xc2020 #card .xc_inner .content_card .points ul li .txt .notice {
    font-size: 1.8vw;
    margin-top: 1.3vw;
  }
  #xc2020 #card .xc_inner .content_card .points ul li .txt .block {
    font-size: 2.3vw;
    line-height: 3vw;
    margin-top: 4vw;
    padding: 1.3 0;
  }
  #xc2020 #card .xc_inner .content_card .points ul li .img {
    width: 22.6vw;
  }
  #xc2020 #card .xc_inner .content_card .points ul li .img span {
    margin: -1.3vw 0;
    font-size: 1.8vw;
    line-height: 2.6vw;
  }
  #xc2020 #card .xc_inner .content_card .points ul li .img span:not(:last-child) {
    margin-bottom: 2vw;
  }
  #xc2020 #card .xc_inner .content_card .points ul li:first-child {
    padding-bottom: 2.4vw;
  }
  #xc2020 #card .xc_inner .content_card .points ul li:first-child .img {
    padding-bottom: 4vw;
  }
  #xc2020 #card .xc_inner .content_card .points ul li:nth-child(2) {
    padding: 6.6vw 0;
  }
  #xc2020 #card .xc_inner .content_card .points ul li:nth-child(2) .txt .howto {
    margin-top: 2.6vw;
  }
  #xc2020 #card .xc_inner .content_card .points ul li:nth-child(2) .img img {
    width: 15.7vw;
  }
  #xc2020 #card .xc_inner .content_card .points ul li:last-child {
    padding: 1.3vw 0;
  }
  #xc2020 #card .xc_inner .content_card .points ul li:last-child .txt {
    margin-top: 0;
    line-height: 3.2vw;
  }
  #xc2020 #workshop {
    padding: 17.3vw 0 43.3vw;
  }
  #xc2020 #workshop .xc_inner {
    padding: 0 6.4vw;
  }
  #xc2020 #workshop .xc_inner .bg_workshop {
    width: 100%;
    height: 177.7vw;
    background: url(../img/bg_workshop_sp.png) no-repeat left top/100%;
    left: 0;
  }
  #xc2020 #workshop .xc_inner .content_workshop h2 {
    margin-bottom: 6.6vw;
  }
  #xc2020 #workshop .xc_inner .content_workshop .intro {
    font-size: 2.6vw;
    line-height: 1.5;
    margin-bottom: 8vw;
  }
  #xc2020 #workshop .xc_inner .content_workshop .movie {
    padding: 0;
  }
  #xc2020 #workshop .xc_inner .content_workshop .movie div {
    height: 48.6vw;
  }
  #xc2020 #workshop .xc_inner .content_workshop .download {
    padding: 0 0 0 6.4vw;
    margin-top: 4vw;
    font-size: 2.6vw;
    line-height: 1.5;
  }
  #xc2020 #workshop .xc_inner .content_workshop .download .btn a {
    width: 43.3vw;
    text-align: left;
    padding: 0 4vw;
    line-height: 9.3vw;
  }
  #xc2020 #workshop .xc_inner .content_workshop .download .btn a::after {
    width: 4vw;
    height: 2.9vw;
    right: 4vw;
  }
  #xc2020 #kiriko {
    padding-top: 26.6vw;
  }
  #xc2020 #kiriko .xc_inner {
    padding: 0 6.4vw;
  }
  #xc2020 #kiriko .xc_inner .txt {
    font-size: 2.6vw;
    line-height: 1.5;
    margin-top: 6.6vw;
  }
  #xc2020 #kiriko .xc_inner .slide_area {
    width: 60vw;
    margin: 4vw auto 0;
    position: relative;
    z-index: 2;
  }
  #xc2020 #kiriko .xc_inner .slide_area .slides .slide {
    width: 100%;
    padding: 8vw 9.3vw 4.6vw;
  }
  #xc2020 #kiriko .xc_inner .slide_area .slides .slide .name {
    margin-top: 3.7vw;
    font-size: 2vw;
  }
  #xc2020 #kiriko .xc_inner .slide_area .slides .slide .name span {
    font-size: 2vw;
    margin-right: 2vw;
    width: 7vw;
    line-height: 3.3vw;
  }
  #xc2020 #kiriko .xc_inner .slide_area .bx-wrapper .bx-prev {
    left: -12.9vw;
  }
  #xc2020 #kiriko .xc_inner .slide_area .bx-wrapper .bx-next {
    right: -12.9vw;
  }
  #xc2020 #showcase {
    padding-top: 19.2vw;
  }
  #xc2020 #showcase .xc_inner {
    padding: 0 6.4vw;
  }
  #xc2020 #showcase .xc_inner .bg_showcase {
    width: 100%;
    height: 356.1vw;
    background: url(../img/bg_gray_sp.png) no-repeat left top/100%;
    top: -100.6vw;
    left: 0;
  }
  #xc2020 #showcase .xc_inner .content_showcase h2 {
    margin-bottom: 6.1vw;
  }
  #xc2020 #showcase .xc_inner .content_showcase .txt {
    font-size: 2.4vw;
    line-height: 1.5;
  }
  #xc2020 #showcase .xc_inner .content_showcase .slide_area {
    width: 100%;
    margin: 6.6vw auto 0;
  }
  #xc2020 #showcase .xc_inner .content_showcase .slide_area .slides .slide {
    width: 100%;
    padding: 4vw 3.3vw 10.6vw;
  }
  #xc2020 #showcase .xc_inner .content_showcase .slide_area .slides .slide ul li {
    width: 36.8vw;
    font-size: 2.4vw;
    line-height: 3.3vw;
  }
  #xc2020 #showcase .xc_inner .content_showcase .slide_area .slides .slide ul li .name {
    margin-top: 2.6vw;
    height: 6.6vw;
  }
  #xc2020 #showcase .xc_inner .content_showcase .slide_area .slides .slide ul li .price {
    margin-top: 1.3vw;
  }
  #xc2020 #showcase .xc_inner .content_showcase .slide_area .bx-wrapper .bx-controls-direction a {
    bottom: 4vw;
    width: 11vw;
  }
  #xc2020 #showcase .xc_inner .content_showcase .slide_area .bx-wrapper .bx-prev {
    left: 4vw;
  }
  #xc2020 #showcase .xc_inner .content_showcase .slide_area .bx-wrapper .bx-next {
    right: 4vw;
  }
  #xc2020 #showcase .xc_inner .content_showcase .slide_area .bx-wrapper .bx-pager,
  #xc2020 #showcase .xc_inner .content_showcase .slide_area .bx-wrapper .bx-controls-auto {
    bottom: -8.6vw;
  }
  #xc2020 #showcase .xc_inner .content_showcase .notice {
    margin-top: 2.6vw;
    padding: 0;
    font-size: 2vw;
  }
  #xc2020 #kadou {
    padding: 26vw 0 8vw;
  }
  #xc2020 #kadou .xc_inner {
    padding: 0 6.4vw;
  }
  #xc2020 #kadou .xc_inner h2 {
    font-size: 4.2vw;
  }
  #xc2020 #kadou .xc_inner .row {
    margin-top: 9.3vw;
  }
  #xc2020 #kadou .xc_inner .row .img {
    width: calc(100% - 42.7vw);
  }
  #xc2020 #kadou .xc_inner .row .img p.img_kadou_1 {
    top: -2.6vw;
    left: -4.6vw;
  }
  #xc2020 #kadou .xc_inner .row .img p.img_kadou_1 img {
    width: 47.4vw;
  }
  #xc2020 #kadou .xc_inner .row .img p.img_kadou_2 {
    top: 46.6vw;
    left: -10.6vw;
  }
  #xc2020 #kadou .xc_inner .row .img p.img_kadou_2 img {
    width: 40.3vw;
  }
  #xc2020 #kadou .xc_inner .row .img p.img_kadou_3 {
    top: 82.6vw;
    left: 9.8vw;
  }
  #xc2020 #kadou .xc_inner .row .img p.img_kadou_3 img {
    width: 31vw;
  }
  #xc2020 #kadou .xc_inner .row .txt {
    width: 42.7vw;
  }
  #xc2020 #kadou .xc_inner .row .txt .title .profession {
    font-size: 2.4vw;
  }
  #xc2020 #kadou .xc_inner .row .txt .title .name {
    font-size: 4.5vw;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2.2vw;
  }
  #xc2020 #kadou .xc_inner .row .txt .title .name span {
    margin: 2.2vw 0 0 0;
    font-size: 1.8vw;
  }
  #xc2020 #kadou .xc_inner .row .txt .title .position {
    font-size: 1.8vw;
    line-height: 2.4vw;
    margin-top: 2.2vw;
  }
  #xc2020 #kadou .xc_inner .row .txt .desc {
    margin-top: 5.2vw;
  }
  #xc2020 #kadou .xc_inner .row.about {
    margin-top: 6.6vw;
  }
  #xc2020 #kadou .xc_inner .row.about .img {
    padding-top: 20vw;
  }
  #xc2020 #kadou .xc_inner .row.about .img img {
    width: 35vw;
  }
  #xc2020 .bx-wrapper .bx-controls-direction a {
    width: 8vw;
    height: 1.3vw;
    top: 34.5vw;
  }
  #xc2020 .bx-wrapper .bx-prev {
    left: 44.8vw;
  }
  #xc2020 .bx-wrapper .bx-next {
    right: 4.8vw;
  }
  #xc2020 .bx-wrapper .bx-pager.bx-default-pager a {
    width: 1.7vw;
    height: 1.7vw;
  }
}
